gunicorn>=20.0.4
plotly>=2.0.9
dash>=2.16.1
dash-renderer>=1.5.1
dash-html-components>=2.0.0
dash-core-components>=2.0.0
numpy>=1.26.3
pandas>=2.0.3
requests>=2.31.0
statsmodels>=0.14.0
textwrap>=3.12.3
